.box{
    display: flex;
}
.lis{
    width: 150px;
    border-right: 1px solid #ccc;
    margin-right: 50px;
}
.lis li{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom:1px solid #ccc;
}